<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jason Roman // StatsHelix Test{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {% stylesheets output='css/bootstrap.css' filter='cssrewrite'
                'bundles/app/css/bootstrap.css'
                'bundles/app/css/site.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('navigation.html.twig') }}

        {% block body %}
            <div class="container">

                {# display flash messages, make sure error displays as 'danger' #}
                {% set flashTypes = ['success', 'warning', 'danger', 'error', 'info'] %}
                {% for type in flashTypes %}
                    {% for message in app.session.flashbag.get(type) %}
                        {% if type == 'error' %}{% set type = 'danger' %}{% endif %}
                        <div class="alert alert-dismissable alert-{{ type }}">
                             <button type="button" class="close" data-dismiss="alert">×</button>
                             {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block content %}{% endblock %}
                {% include '::footer.html.twig' %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>