<footer>
    <div class="row">
        <hr>
        <div class="col-lg-8">
            <ul class="list-unstyled">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('similar_events') }}">Similar Events</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <p class="pull-right copyright">Copyright {{ 'now'|date('Y') }} Jason Roman</p>
        </div>
    </div>
</footer>