<div class="navbar navbar-default navbar-default-header">
    <div class="container">
        <div class="navbar-header">
                <a href="/" class="navbar-brand">StatsHelix Test</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li{% if '/similar-events' in app.request.requesturi %} class="active"{% endif %}>
                    <a href="{{ path('similar_events') }}">Similar Events</a>
                </li>
            </ul>
        </div>
    </div>
</div>