{% extends '::base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-lg-9 col-md-8">
        <h1>StatsHelix Test</h1>
        <article class="index">
            <p>
                <a href="{{ path('similar_events') }}">Similar Events</a>
            </p>
            <p>
                To view the readme and source code, visit here: 
                <a href="https://bitbucket.org/jasonroman/statshelix/overview" 
                   target="_blank">https://bitbucket.org/jasonroman/statshelix/overview
                </a>
            <p>
                If you have any further questions, feel free to contact me at:
                <ul>
                    <li><a href="mailto:j@jayroman.com">j@jayroman.com</a></li>
                    <li>586-634-6308</li>
                </ul>
            </p>
            <p>
                Thanks!<br>
                -Jason
            </p>
        </article>
    </div>
</div>

{% endblock %}