{% extends '::base.html.twig' %}

{% block content %}

<div class="row">

    {{ form_start(form) }}
    
    <table class="table">
        <tr>
            <td width="150">{{ form_label(form.eventsFile) }}</td>
            <td>{{ form_widget(form.eventsFile) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.numberOfEvents) }}</td>
            <td>{{ form_widget(form.numberOfEvents) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.x) }}</td>
            <td>{{ form_widget(form.x) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.y) }}</td>
            <td>{{ form_widget(form.y) }}</td>
        </tr>
    </table>

    <button class="btn btn-primary" type="submit">
        <span class="ion-plus-round"></span>&nbsp;
        Find Similar Events
    </button>

    {{ form_end(form) }}
</div>

<p>&nbsp;</p>

{% if similarEvents %}
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Distance</th>
                <th>Game ID</th>
                <th>Map Name</th>
                <th>Round ID</th>
                <th>Ticks Since Freeze Time</th>
                <th>Time In Round</th>
                <th>Team Name</th>
                <th>Location X</th>
                <th>Location Y</th>
            </tr>
        </thead>
        <tbody>
        {% for event in similarEvents %}
            <tr>
                <td>{{ event.distance|number_format(3) }}</td>
                <td>{{ event.game_id }}</td>
                <td>{{ event.map_name }}</td>
                <td>{{ event.round_id }}</td>
                <td>{{ event.ticks_since_freeze_time }}</td>
                <td>{{ event.time_in_round }}</td>
                <td>{{ event.team_name }}</td>
                <td>{{ event.location_x|number_format(3) }}</td>
                <td>{{ event.location_y|number_format(3) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}